@import "./import/_variable.scss";
@import "./import/_base.scss";
@import './import/_typo.scss';
@import "./import/_contents-main.scss";

@import "./components/_Header.scss";
@import "./components/_Footer.scss";

@import "./pages/_index.scss";
