// =========================================================
//     m-contents-main
// =========================================================
.m-contents-main {
}

.m-contents-main-header {
  margin-bottom: 3rem;
  padding-left: $clumnGap;
  padding-right: $clumnGap;

}

.m-contents-main-header-title {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: (($clumnWidth * 10) + ($clumnGap * 7));
}

.m-contents-main-header-meta {
  font-size: 75%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: (($clumnWidth * 10) + ($clumnGap * 7));
}

.m-contents-main-header-meta-time {
  color: $text-soft;
}

.m-contents-main-eyecatch {
  margin: 1.2rem 0;
  text-align: center;

  img {
    max-height: 1280px;
    box-shadow: $box-shadow;
  }
}

.m-contents-main-body {
  margin-left: auto;
  margin-right: auto;
  max-width: (($clumnWidth * 10) + ($clumnGap * 9));
  padding-bottom: 3em;
  padding-left: $clumnGap;
  padding-right: $clumnGap;
  text-align: justify;

  p, h1, h2, h3, h4, h5, h6, ol, ul, pre, dl, table {
    margin-left: auto;
    margin-right: auto;
    max-width: (($clumnWidth * 10) + ($clumnGap * 9));
  }

  h1 {
    border-bottom: $border;
  }

  h2 {
    border-bottom: $border;
  }

  hr {
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    max-width: (($clumnWidth * 4) + ($clumnGap * 3));
  }

  img {
    box-shadow: $box-shadow;
    margin-bottom: $base-font-size * 0.25;
    margin-top: $base-font-size * 0.5;
  }

  .img-responsive {
    display: block;
    margin-left: -16px;
    margin-right: -16px;
    max-width: none;
    text-align: center;
  }

  .youtube {
    margin-bottom: $base-font-size * 2.25;
    max-width: none;
    padding-top: 56.25%;
    position: relative;
    width: 100%;

    iframe {
      height: 100% !important;
      position: absolute;
      right: 0;
      top: 0;
      width: 100% !important;
    }
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  .youtube + figcaption {
    margin-top: -($base-font-size * 2.25);
    text-align: center;
  }

  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    padding-top: calc(1.5rem - 10px);
    text-align: center;
  }
}
