// Header
// ---------------------------------
$font-size-l5: math.div($base-font-size * 11, 6);
$font-size-l4: math.div($base-font-size * 11, 7);
$font-size-l3: math.div($base-font-size * 11, 8);
$font-size-l2: math.div($base-font-size * 11, 9);
$font-size-l1: math.div($base-font-size * 11, 10);
$font-size-m:  $base-font-size;
$font-size-s1: math.div($base-font-size * 11, 12);
$font-size-s2: math.div($base-font-size * 11, 13);
$font-size-s3: math.div($base-font-size * 11, 14);

h1 {
  font-size: $font-size-l5;
  font-weight: bold;
  line-height: math.div($base-line-height * 11, 12);
  margin-bottom: math.div($base-font-size * 11, 13);
  margin-top: $base-font-size * 1;
}

h2 {
  font-size: $font-size-l4;
  font-weight: bold;
  line-height: math.div($base-line-height * 11, 13);
  margin-bottom: math.div($base-font-size * 11, 14);
  margin-top: $base-font-size * 1.8;
}

h3 {
  font-size: $font-size-l3;
  font-weight: bold;
  line-height: math.div($base-line-height * 11, 13);
  margin-bottom: math.div($base-font-size * 11, 14);
  margin-top: $base-font-size * 1.6;
}

h4 {
  font-size: $font-size-l2;
  font-weight: bold;
  line-height: math.div($base-line-height * 11, 13);
  margin-bottom: math.div($base-font-size * 11, 14);
  margin-top: $base-font-size * 1.4;
}

h5 {
  font-size: $font-size-l1;
  font-weight: bold;
  line-height: math.div($base-line-height * 11, 13);
  margin-bottom: math.div($base-font-size * 11, 14);
  margin-top: $base-font-size * 1.4;
}

h6 {
  color: $text-soft;
  font-size: $font-size-m;
  font-weight: bold;
  line-height: math.div($base-line-height * 11, 13);
  margin-bottom: math.div($base-font-size * 11, 14);
  margin-top: $base-font-size * 1.25;
}

// Paragraph
// ---------------------------------
p {
  font-size: $font-size-m;
  margin-bottom: math.div($base-font-size * 11, 15);
  margin-top: $base-font-size * 1;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: $base-font-size * 0.5;
}

// Small
// ---------------------------------
small {
  font-size: $font-size-s2;
}

// Link
// ---------------------------------
a {
}

// pre, code
// ---------------------------------
pre, code, kbd, samp {
  color: $text-link;
  font-family: monospace;
  font-size: $font-size-s1;
  letter-spacing: normal;
  line-height: $base-line-height * 0.9;
}

pre {
  background-color: $gray1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  font-size: $font-size-s2;
  margin-bottom: 0;
  margin-left: $base-font-size * 0.25;
  margin-right: $base-font-size * 0.25;
  margin-top: 0;
  overflow: scroll;
  padding-bottom: $base-font-size * 0.25;
  padding-left: $base-font-size * 0.75;
  padding-right: $base-font-size * 0.75;
  padding-top: $base-font-size * 0.25;
  vertical-align: text-bottom;
}

pre > code {
}

p > code {
  background-color: $gray1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  font-size: $font-size-s2;
  margin-bottom: 0;
  margin-left: $base-font-size * 0.25;
  margin-right: $base-font-size * 0.25;
  margin-top: 0;
  overflow: scroll;
  padding-bottom: $base-font-size * 0.25;
  padding-left: $base-font-size * 0.75;
  padding-right: $base-font-size * 0.75;
  padding-top: $base-font-size * 0.25;
  vertical-align: text-bottom;
}

// blockquote
// ---------------------------------
blockquote {
  & > p {
  }
}


// List
// ---------------------------------
ul {
}

ol {
}

ol > li, ul > li {
}

// Table
// ---------------------------------
table {
  background-color: $white;
  border-collapse: collapse;
  border: $border;
  margin-bottom: $base-font-size * 1;
  margin-top: $base-font-size * 0.75;
  padding: 0;
  table-layout: auto;
  width: 100%;
  word-break: initial;

  tr {
    border: $border;
    padding-bottom: $base-font-size * 0.25;
    padding-left: $base-font-size * 0.25;
    padding-right: $base-font-size * 0.25;
    padding-top: $base-font-size * 0.25;
    text-align: left;

    &:nth-child(2n) {
      background-color: $gray1;
    }
  }

  th {
    padding-bottom: $base-font-size * 0.45;
    padding-left: $base-font-size * 0.45;
    padding-right: $base-font-size * 0.45;
    padding-top: $base-font-size * 0.45;
  }

  td {
    padding-bottom: $base-font-size * 0.75;
    padding-left: $base-font-size * 0.75;
    padding-right: $base-font-size * 0.75;
    padding-top: $base-font-size * 0.75;
  }

  thead {
    background-color: $gray1;

    tr {
    }
    th {
    }
  }

  tbody {
    tr {
    }
    th {
    }
    td {
    }
    th, td {
    }
  }
}

// Horizontal Rule
// ---------------------------------
hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: $border;
}

// Decoration
// ---------------------------------
em {
}

strong {
  font-weight: 700;
}
